<!DOCTYPE html>
<html>
<head>
  <title>voiceStock</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/index.css">
</head>
<body>
    <div class="header">
        voiceStock
    </div>
    <div class="container">
        <img src="/mic_off.png" style="max-width: 11%; height: auto;">
    </div>

    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  	<script>

        let gumStream; 						//stream from getUserMedia()
        let rec; 							//Recorder.js object
        let input; 							//MediaStreamAudioSourceNode we'll be recording

        const mic_img = document.querySelector('img');

        document.addEventListener("keydown", downHandler); // spacebar 누름
        document.addEventListener("keyup", upHandler); // spacebar 뗌

        let flag = true;

        // spacebar 누름 - 녹음 시작
        function downHandler(e){
            if(flag){
                flag = false;
                
                if(e.keyCode == 32){
                    // 녹음 시작

                    // 사진 mic_on으로 변경
                    mic_img.src = "/mic_on.png";


                    let constraints = { audio: true, video:false }

                    navigator.mediaDevices.getUserMedia(constraints).then(function(stream) {
                        console.log("getUserMedia() success, stream created, initializing Recorder.js ...");
               
                        audioContext = new AudioContext();
                
                        /*  assign to gumStream for later use  */
                        gumStream = stream;
                        
                        /* use the stream */
                        input = audioContext.createMediaStreamSource(stream);
                
                        /* 
                            Create the Recorder object and configure to record mono sound (1 channel)
                            Recording 2 channels  will double the file size
                        */
                        rec = new Recorder(input,{numChannels:1})
                
                        //start the recording process
                        rec.record();
                      
                    }).catch(function(err) {
                        console.log("error");
                    });
                }
            }   
        }

        // spacebar 뗌 - 녹음 끝
        function upHandler(e){
            if(!flag){
                flag = true;

                if(e.keyCode ==  32){

                    // 사진 mic_off로 변경
                    mic_img.src = "/mic_off.png";

                    //tell the recorder to stop the recording
                    rec.stop();

                    //stop microphone access
                    gumStream.getAudioTracks()[0].stop();

                    //create the wav blob and pass it on to createDownloadLink
                    rec.exportWAV(blob => {
                        let formdata = new FormData();                        
                        formdata.append('soundBlob', blob, '.wav');
                        
                        // TTS 파일명 지정
                        let TTSfilename = new Date().toISOString();
                        TTSfilename = TTSfilename.replaceAll(':', '_') + '.mp3';
                        formdata.append('TTSfilename', TTSfilename);

                        axios.post('/post/uploads', formdata)

                        const interval = setInterval(() => {
                            axios.get('/tts/' + TTSfilename)
                            .then((res) => {
                                const audio = new Audio('/tts/' + TTSfilename);
                                audio.play(); 
                                clearInterval(interval);
                            })
                            .catch();
                        }, 1000);
                        
                    })
                }
            }
        }
    </script>
</body>
</html>
